[submodule "NoSQLDatabases[NSQLDB]/epita_spring_g2"]
	path = NoSQLDatabases[NSQLDB]/epita_spring_g2
	url = https://github.com/ldandoy/epita_spring_g2.git
[submodule "OOPUMLJava/f-2021-s2-ooa-uml-java"]
	path = OOPUMLJava/f-2021-s2-ooa-uml-java
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "OOPandUMLandJava[OOAUML]/OOPandUMLandJava[OOAUML]/f-2021-s2-ooa-uml-java"]
	path = OOPandUMLandJava[OOAUML]/OOPandUMLandJava[OOAUML]/f-2021-s2-ooa-uml-java
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "OOPandUMLandJava[OOAUML]/f-2021-s2-ooa-uml-java"]
	path = OOPandUMLandJava[OOAUML]/f-2021-s2-ooa-uml-java
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "OOPandUMLandJava[OOAUML]/-f"]
	path = OOPandUMLandJava[OOAUML]/-f
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "OOPandUMLandJava[OOAUML]/--force"]
	path = OOPandUMLandJava[OOAUML]/--force
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "OOPandUMLandJava[OOAUML]/tutors"]
	path = OOPandUMLandJava[OOAUML]/tutors
	url = https://github.com/thomasbroussard/f-2021-s2-ooa-uml-java.git
[submodule "DataScienceInProduction[DSP]/dsp_practical_work"]
	path = DataScienceInProduction[DSP]/dsp_practical_work
	url = https://github.com/EPITA-courses/dsp_practical_work.git
